body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'tahoma', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: blue;
  border-radius: 0;
  border: 0;
}



.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'arial', sans-serif;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#collapsable-nav{
  background-color: blue;
  color: white;
  text-align: center;
  margin: 0px; 
}

#collapsable-nav div {
margin-top: 10px;
margin-bottom: 10px

  }

.navbar-header div{
height: 90px;
}


@media (min-width: 768px){
  #collapsable-nav div, hr{
    display: none;
  }
}

/* END HEADER */




/* HOME PAGE */


#main-content{
height:1000px;
width:95%;
background-color: gray;
text-align: center;
color: black;
}

/* END HOME PAGE */


 



